/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
@tailwind components;

/**
* Here you would add any of your custom component classes; stuff that you'd
* want loaded *before* the utilities so that the utilities could still
* override them.
*
* Example:
*
* .btn { ... }
* .form-input { ... }
*
* Or if using a preprocessor or `postcss-import`:
*
* @import "components/buttons";
* @import "components/forms";
*/

/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

:root {
  --header-height: 60px;
}

::selection {
  @apply text-white;
  @apply bg-blue-5;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-blue-6;
  @apply font-sans;
  @apply leading-normal;
  @apply text-lg;
}

.header {
  height: var(--header-height);
}

.bounce {
  animation: bounce 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}

.wobble {
  animation: wobble 0.8s both;
  animation-delay: 2s;
}

@keyframes wobble {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-0.5em) rotate(-6deg);
  }
  30% {
    transform: translateX(0.5em) rotate(6deg);
  }
  45% {
    transform: translateX(-0.5em) rotate(-3.6deg);
  }
  60% {
    transform: translateX(0.25em) rotate(2.4deg);
  }
  75% {
    transform: translateX(-0.125em) rotate(-1.2deg);
  }
}

@screen md {
  .overline {
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    @apply overflow-hidden;
    @apply relative;
  }
  .overline::after {
    content: '';
    height: 4px;
    right: 100%;
    transition-duration: 0.3s;
    transition-property: right;
    transition-timing-function: ease-out;
    z-index: -1;
    @apply absolute;
    @apply bg-blue-6;
    @apply pin-l;
    @apply pin-t;
  }
  .overline:active::after,
  .overline:focus::after,
  .overline:hover::after {
    @apply pin-r;
  }
}

.hero {
  min-height: calc(100vh - var(--header-height));
}

.fade-in-up {
  animation: fadeInUp 0.7s forwards 0s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(2em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.gradient {
  background: linear-gradient(125deg, #0967d2, #00337d);
}

.btn:hover {
  bottom: 2px;
  @apply shadow-lg;
}

.skew {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw));
}

.cards {
  --margin: 1rem;
  --modifier: calc(55rem - 100%);
  @apply flex;
  @apply flex-wrap;
}

.cards > * {
  flex-basis: calc(var(--modifier) * 999);
  margin: var(--margin);
  @apply flex-grow;
  @apply flex;
}

/* purgecss start ignore */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight;
  @apply mb-2;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  @apply mt-0;
}

h1,
h2,
h3 {
  @apply font-display;
}

a {
  @apply font-bold;
  @apply no-underline;
  @apply text-blue-6;
}

hr {
  height: 1px;
  @apply bg-grey-light;
  @apply block;
  @apply border-none;
  @apply my-8;
  @apply w-full;
}

p,
dl,
ol,
ul,
blockquote,
pre,
table {
  @apply mb-6;
}

p:last-child,
dl:last-child,
ol:last-child,
ul:last-child,
blockquote:last-child,
pre:last-child,
table:last-child {
  @apply mb-0;
}

p:empty {
  display: none;
}

ol,
ul {
  list-style-position: outside;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

ol ol ol ol {
  list-style-type: lower-greek;
}

ol ol ol ol ol {
  list-style-type: decimal;
}

ol ol ol ol ol ol {
  list-style-type: lower-alpha;
}

ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: circle;
}

ul ul ul {
  list-style-type: square;
}

ul ul ul ul {
  list-style-type: circle;
}

ul ul ul ul ul {
  list-style-type: disc;
}

ul ul ul ul ul ul {
  list-style-type: circle;
}

li > p {
  @apply m-0;
}

blockquote {
  @apply border-l-4;
  @apply border-blue-3;
  @apply text-grey-darker;
  @apply py-2;
  @apply px-6;
}

blockquote p {
  margin-left: 0 !important;
}

code,
kbd,
samp,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-size: 0.9em;
  @apply bg-blue-0;
  @apply border-transparent;
  @apply font-mono;
  @apply mb-4;
  @apply rounded-lg;
}

code,
kbd,
samp {
  padding: 0.1em 0.4em 0.2em;
  @apply rounded;
  @apply align-baseline;
}

pre {
  padding: 1em 1.2em;
  @apply overflow-auto;
}

pre code {
  background: none;
  font-size: 1em;
  line-height: 1em;
}

figure {
  @apply mb-8;
  @apply text-center;
}

figure:first-child {
  @apply my-0;
}

figure:last-child {
  @apply mb-0;
}

figcaption {
  font-size: 0.8em;
  margin-top: 0.875em;
}

table {
  @apply w-full;
}

table pre {
  white-space: pre-wrap;
}

th,
td {
  font-size: 1em;
  padding: 0.7em;
  line-height: 1.4;
  @apply border;
  @apply border-grey-light;
}

thead tr,
tfoot tr {
  @apply bg-blue-0;
}

thead th,
thead td,
tfoot th,
tfoot td {
  font-size: 0.9em;
  padding: 0.77778em;
}

thead th code,
thead td code,
tfoot th code,
tfoot td code {
  @apply bg-white;
}

tbody tr {
  @apply bg-white;
}

.gatsby-highlight {
  @apply mb-8;
}

/* purgecss end ignore */
